@import "tailwindcss";
@source "../**/*.{astro,ts}";

@layer base {
  html,
  body {
    line-height: normal;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: manipulation;
  }

  .lil-gui select {
    background-color: var(--widget-color);
  }
}

@theme {
  --font-sans: "Roboto Condensed", "sans-serif";
}
